# Entornos virtuales
my_venv/
venv/
env/

# Variables de entorno (¡CRÍTICO!)
.env

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Datos locales (para que no subas los CSVs pesados por error)
data/*.csv